<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- 输出日志的格式 -->
    <!--
    %d{yyyy-MM-dd HH:mm:ss, SSS} : 日志生产时间
    %p : 日志输出格式
    %c : logger的名称
    %m : 日志内容，即 logger.info("message")
    %n : 换行符
    %C : Java类名
    %L : 日志输出所在行数
    %M : 日志输出所在方法名
    %t 或 %thread              ##创建logging事件的线程名
    %l  ##输出错误的完整位置
    hostName : 本地机器名
    hostAddress : 本地ip地址 -->
    <Properties>
        <Property name="filename">/User/wanglei/qae/log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%traceId] %p %t %C %M %L: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.wanglei.business.log.MyLog" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.wanglei.business.log.Dog" level="error" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>